<head>

  <link rel="stylesheet" href="/static/style.css">

    <!--  SUNBURST LIBRARIES -->
    <script src="/static/sunburst.js"></script>
    <script src="/static/dataset_loader.js"></script>
    <script src="https://unpkg.com/d3"></script>

    <!--  COLLAPSIBLE TREE LIBRARIES -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.0/js/dataTables.bootstrap4.min.js"></script>
    <!--<script src="dndTree.js"></script>-->
</head>



<body>
  <div class="header">

    <!--Content before waves-->
    <div class="inner-header flex">
    <!--Just the logo.. Don't mind this-->
      <img src="/static/Images/logo_dais_bianco.png" onclick="location.reload();" class="logo">
    </div>


    <!--Waves Container-->
    <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>
    <!--Waves end-->

    </div>
    <!--Header ends-->

    <!--Content starts-->

    <!--Content ends-->


  <div class="" style="margin: 23px;">

    <div class="row">


      <div class="col-lg-12" >
        <fieldset class="border p-2" id="load_dataset">
        <legend class="w-auto" style="font-size: 20px!important; margin-bottom: 0px;"> STEP 1: Upload Dataset
        </legend>
        <div class="input-group">
          <input  class="form-control form-control-lg" type="file" name="file2" id="file2">
          <button class="btn btn-primary" type="button" id="load1" onclick="load_data()" >Upload</button>
        </div>
       </fieldset>
      </div>



      <div class="col-lg-12" >
        <fieldset class="border p-2" id="load_json">
        <legend class="w-auto" style="font-size: 20px!important; margin-bottom: 0px;"> STEP 2: Upload results and Generate Plots
        </legend>
        <div class="input-group">
          <input  class="form-control form-control-lg" type="file" name="file1" id="file1"  disabled="true">
          <button class="btn btn-primary" type="button" id="load2" onclick="createchart()" disabled="true">Upload</button>
        </div>
       </fieldset>
      </div>


      <div class="col-lg-6" id="contenitore">
        <div id="tree-container"></div>
      </div>
      <div class="col-lg-6">
        <div id="sunburst"></div>
      </div>

    <!-- Icona del tutorial -->
    <div id="tutorial-button">
        <img src="/static/Images/info.gif" alt="Tutorial Icon">
    </div>

    <!-- Overlay del tutorial -->
    <div id="tutorial-overlay">
        <div id="tutorial-content">
           <img id="close-btn" src="/static/Images/close.png" alt="Chiudi" />
           <center><h2>Tutorial</h2></center>
            <p id="tutorial-instructions">This Tutorial will provide you with 1) the definition of Relaxed Functional Dependency (RFD) 2) An introduction to the Ryan Tool, and  3) The description of the task you have to perform for our experiment.</p>
            <h3>Relaxed Functional Dependencies</h3>
            <p id="tutorial-instructions">In relational databases, a <b>Relaxed Functional Dependency (RFD) </b> is an integrity constraint X -> Y  between two <b>sets of attributes X and Y</b>, meaning that if <b>two tuples have similar value on X, then they must have similar values on Y</b>. X is named <b>Left Hand Side (LHS)</b>, while Y is the <b>Right Hand Side (RHS)</b>. Two values of an attribute are similar if their distance is  lower than the <b>similarity threshold</b> defined on that attribute. The function to assess similarity is edit distance for strings and difference for numbers. </p> 
            <p id="tutorial-instructions">For example, consider the following dataset: </p>
<!-- Esempio Tabellare -->
<table id="rfd-example-table" class="table table-striped table-bordered" style="width:100%; border-collapse: collapse;">
  <thead>
      <tr>
          <th style="border: 1px solid #000; padding: 8px;">#</th>
          <th style="border: 1px solid #000; padding: 8px;">Model</th>
          <th style="border: 1px solid #000; padding: 8px;">Year</th>
          <th style="border: 1px solid #000; padding: 8px;">Price</th>
          <th style="border: 1px solid #000; padding: 8px;"># Owners</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td style="border: 1px solid #000; padding: 8px;">1</td>
          <td style="border: 1px solid #000; padding: 8px;">Renault Clio</td>
          <td style="border: 1px solid #000; padding: 8px;">2018</td>
          <td style="border: 1px solid #000; padding: 8px;">8000</td>
          <td style="border: 1px solid #000; padding: 8px;">1</td>

      </tr>
      <tr>
          <td style="border: 1px solid #000; padding: 8px;">2</td>
          <td style="border: 1px solid #000; padding: 8px;">Renault Clio</td>
          <td style="border: 1px solid #000; padding: 8px;">1999</td>
          <td style="border: 1px solid #000; padding: 8px;">1200</td>
          <td style="border: 1px solid #000; padding: 8px;">1</td>

      </tr>
      <tr>
          <td style="border: 1px solid #000; padding: 8px;">3</td>
          <td style="border: 1px solid #000; padding: 8px;">Renault Clio dci</td>
          <td style="border: 1px solid #000; padding: 8px;">2019</td>
          <td style="border: 1px solid #000; padding: 8px;">8500</td>
          <td style="border: 1px solid #000; padding: 8px;">1</td>
      </tr>
      <tr>
        <td style="border: 1px solid #000; padding: 8px;">4</td>
        <td style="border: 1px solid #000; padding: 8px;">Ford Fiesta Tdci</td>
        <td style="border: 1px solid #000; padding: 8px;">2022</td>
        <td style="border: 1px solid #000; padding: 8px;">10000</td>
        <td style="border: 1px solid #000; padding: 8px;">1</td>
    </tr>
  </tbody>
</table>
<p id="tutorial-instructions">The RFD <b>Model<sub>&le;4</sub>, Year<sub>&le;1</sub> -> Price<sub>&le;500</sub></b> holds on this dataset, since similar models with similar years have a similar price <b>(4, 1,and 500 are the similarity thresholds).</b> In fact, the first and the third tuple (rows) have similar values for the attributes <b>Model</b> and <b>Year</b> and they also have values for the attribute <b>Price</b> that differ for less than the similarity threshold.</p>
<p id="tutorial-instructions">After the <b id="strong-text-green">insertion</b> of a new tuple, an existing RFD can be invalidated only if <b>the new tuple has similar values on the LHS with respect other tuples but it has different values on the RHS</b>.  In this case, a <b id="strong-text-green">specialized RFD with additional attributes on the LHS </b> may be valid on the dataset.</p>
<p id="tutorial-instructions">For example, suppose that we add tuple 5 to the previous dataset: </p>
<table id="rfd-example-table" class="table table-striped table-bordered" style="width:100%; border-collapse: collapse;">
  <thead>
      <tr>
          <th style="border: 1px solid #000; padding: 8px;">#</th>
          <th style="border: 1px solid #000; padding: 8px;">Model</th>
          <th style="border: 1px solid #000; padding: 8px;">Year</th>
          <th style="border: 1px solid #000; padding: 8px;">Price</th>
          <th style="border: 1px solid #000; padding: 8px;"># Owners</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td style="border: 1px solid #000; padding: 8px;">1</td>
          <td style="border: 1px solid #000; padding: 8px;">Renault Clio</td>
          <td style="border: 1px solid #000; padding: 8px;">2018</td>
          <td style="border: 1px solid #000; padding: 8px;">8000</td>
          <td style="border: 1px solid #000; padding: 8px;">1</td>

      </tr>
      <tr>
          <td style="border: 1px solid #000; padding: 8px;">2</td>
          <td style="border: 1px solid #000; padding: 8px;">Renault Clio</td>
          <td style="border: 1px solid #000; padding: 8px;">1999</td>
          <td style="border: 1px solid #000; padding: 8px;">1200</td>
          <td style="border: 1px solid #000; padding: 8px;">1</td>

      </tr>
      <tr>
          <td style="border: 1px solid #000; padding: 8px;">3</td>
          <td style="border: 1px solid #000; padding: 8px;">Renault Clio dci</td>
          <td style="border: 1px solid #000; padding: 8px;">2019</td>
          <td style="border: 1px solid #000; padding: 8px;">8500</td>
          <td style="border: 1px solid #000; padding: 8px;">1</td>
      </tr>
      <tr>
        <td style="border: 1px solid #000; padding: 8px;">4</td>
        <td style="border: 1px solid #000; padding: 8px;">Ford Fiesta Tdci</td>
        <td style="border: 1px solid #000; padding: 8px;">2022</td>
        <td style="border: 1px solid #000; padding: 8px;">10000</td>
        <td style="border: 1px solid #000; padding: 8px;">1</td>
    </tr>
    <tr style="background-color: #2CD200;">
      <td style="border: 1px solid #000; padding: 8px;">5</td>
      <td style="border: 1px solid #000; padding: 8px;">Renault Clio dci</td>
      <td style="border: 1px solid #000; padding: 8px;">2019</td>
      <td style="border: 1px solid #000; padding: 8px;">5500</td>
      <td style="border: 1px solid #000; padding: 8px;">3</td>
  </tr>
  </tbody>
</table>
<p id="tutorial-instructions">The RFD <b>Model<sub>&le;4</sub>, Year<sub>&le;1</sub> -> Price<sub>&le;500</sub></b> does not hold anymore, since tuple 5 has a similar model and a similar year with respect to tuple 1 and 3, but has a different price.</p>
<p id="tutorial-instructions">However, the invalidated RFD can be specialized by the RFD <b>Model<sub>&le;4</sub>, Year<sub>&le;1</sub>,  <b id="strong-text-green">#Owners<sub>&le;0</sub> </b>-> Price<sub>&le;500</sub></b> which is valid on the updated dataset. In fact, only tuple 1 and tuple 3 satisfy the constraints on the left-hand side, and they have similar values for the attribute on the right-hand side. </p>

<p id="tutorial-instructions">Intead, after the <b id="strong-text-red">deletion</b> of a tuple, a <b id="strong-text-red">generalized RFD with a subset of attributes on the LHS </b> may be valid on the dataset if the deleted tuple had similar values on the reduced LHS with respect other tuples but it had different values on the RHS. In this case, the previously holding RFD is no longer minimal, and replaced by the generalized RFD.</p>
<p id="tutorial-instructions">For example, suppose that we delete the tuple we added in the previous example: </p>
<table id="rfd-example-table" class="table table-striped table-bordered" style="width:100%; border-collapse: collapse;">
  <thead>
      <tr>
          <th style="border: 1px solid #000; padding: 8px;">#</th>
          <th style="border: 1px solid #000; padding: 8px;">Model</th>
          <th style="border: 1px solid #000; padding: 8px;">Year</th>
          <th style="border: 1px solid #000; padding: 8px;">Price</th>
          <th style="border: 1px solid #000; padding: 8px;"># Owners</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td style="border: 1px solid #000; padding: 8px;">1</td>
          <td style="border: 1px solid #000; padding: 8px;">Renault Clio</td>
          <td style="border: 1px solid #000; padding: 8px;">2018</td>
          <td style="border: 1px solid #000; padding: 8px;">8000</td>
          <td style="border: 1px solid #000; padding: 8px;">1</td>

      </tr>
      <tr>
          <td style="border: 1px solid #000; padding: 8px;">2</td>
          <td style="border: 1px solid #000; padding: 8px;">Renault Clio</td>
          <td style="border: 1px solid #000; padding: 8px;">1999</td>
          <td style="border: 1px solid #000; padding: 8px;">1200</td>
          <td style="border: 1px solid #000; padding: 8px;">1</td>

      </tr>
      <tr>
          <td style="border: 1px solid #000; padding: 8px;">3</td>
          <td style="border: 1px solid #000; padding: 8px;">Renault Clio dci</td>
          <td style="border: 1px solid #000; padding: 8px;">2019</td>
          <td style="border: 1px solid #000; padding: 8px;">8500</td>
          <td style="border: 1px solid #000; padding: 8px;">1</td>
      </tr>
      <tr>
        <td style="border: 1px solid #000; padding: 8px;">4</td>
        <td style="border: 1px solid #000; padding: 8px;">Ford Fiesta Tdci</td>
        <td style="border: 1px solid #000; padding: 8px;">2022</td>
        <td style="border: 1px solid #000; padding: 8px;">10000</td>
        <td style="border: 1px solid #000; padding: 8px;">1</td>
    </tr>
    <tr style="background-color: red;">
      <td style="border: 1px solid #000; padding: 8px;">5</td>
      <td style="border: 1px solid #000; padding: 8px;">Renault Clio dci</td>
      <td style="border: 1px solid #000; padding: 8px;">2019</td>
      <td style="border: 1px solid #000; padding: 8px;">5500</td>
      <td style="border: 1px solid #000; padding: 8px;">3</td>
  </tr>
  </tbody>
</table>
<p id="tutorial-instructions">As discussed, tuple 5 was invalidating 
  the original RFD <b>Model<sub>&le;4</sub>, Year<sub>&le;1</sub> -> Price<sub>&le;500</sub></b>, leading to the evolution of this 
  dependency with the specialized RFD <b>Model<sub>&le;4</sub>, Year<sub>&le;1</sub>,  #Owners<sub>&le;0</sub> -> Price<sub>&le;500</sub></b>. </p>
<p id="tutorial-instructions"> Thus, the deleted tuple had similar values for the original LHS (Model,Year)
   but a different price. After the deletion, the specialized RFD <b>Model<sub>&le;4</sub>, Year<sub>&le;1</sub>,  #Owners<sub>&le;0</sub> -> Price<sub>&le;500</sub></b> is 
   no longer minimal, since the RFD <b>Model<sub>&le;4</sub>, Year<sub>&le;1</sub> -> Price<sub>&le;500</sub></b> is valid and has a subset of its attributes on the LHS. </p>

<h3>The Ryan Tool</h3>
<p id="tutorial-instructions">The <b>RFD explainabilitY & ANalysis tool (RYAN)
  tool </b> is one of the first AI-based tools that analyzes
  how rfds discovered on a dataset evolve as the
  data changes. RYAN is able to combine <b>interactive
  visual components</b> and emergent <b>LLMs</b> to provide
  <b> explanations about the evolution of discovered
  RFDs after data changes </b> (insertions, deletions and updates). </p>


 <!-- Slideshow container -->
<div class="slideshow-container">
  <!-- Slides -->
  <div class="mySlides">
      <img src="/static/Images/Home.png" style="width:100%">
  </div>
</div>
<!-- Caption container -->
<div class="caption-container">
  <div class="caption"> Figure 1: Homepage. From here, the user can load the dataset (in csv format) and the discovery results (in json format).</div>
</div>
<br>


<p id="tutorial-instructions">After loading (<b>see Figure 1</b>) the dataset and the results of two RFD discovery processes performed at different time steps, Ryan provides different visual components to analyze them:
  <ul style="  font-size: 0.5em;   font-family: 'Lato', sans-serif;">
    <li>
      The first visual component is the <b>RFD tree (Figure 2)</b>. This tree introduces a collapsible representation of all <b>RFDs discovered on the updated data</b>, i.e., at time <b>𝜏 + 1</b>, and their relation with those discovered at time 𝜏.   
       The RFD tree divides the discovered RFDs into five main categories:
    Generalizations, Specializations, RFDs found, RFDs
    not found, and New RFDs. The rfd tree is composed of a root node, labeled “RFDs”, linked to
    five child nodes, one for each of the categories described above. The Generalizations/Specializations
    represent all the rfds discovered at time 𝜏 + 1 that
    generalize/specialize at least one rfds discovered
    at time 𝜏 . The rfds found nodes are all valid rfds
    both at time 𝜏 and 𝜏 + 1, whereas the rfds not
    found nodes are all rfds that were discovered at
    time 𝜏 but were not discovered in any forma at time 𝜏 + 1. The New rfds node represents
    all rfds discovered at the time 𝜏 + 1 that were not
    discovered at the time 𝜏 . By clicking on one of these
    nodes, the tree can show new nodes, each labeled
    with an RHS attribute (<b>Figure 3</b>). By clicking further on one
    of these nodes (<b>Figure 4</b>), the tree shows its children, which
    are labeled with the LHS attributes associated with
    the chosen RHS, thus showing all rfds. </li>
     <!-- Slideshow container -->
    </ul>

    <div class="slideshow-container">
      <!-- Slides -->
      <div class="mySlides">
          <img src="/static/Images/MainPage.png" style="width:100%">
      </div>
    </div>
    <!-- Caption container -->
    <div class="caption-container">
      <div class="caption"> Figure 2: RFD tree and Sunburst. After uploading the files, RYAN displays two visual components: an RFD tree (left) and a sunburst chart (right)
      </div>
    </div>
    <br>

    <div class="slideshow-container">
      <!-- Slides -->
      <div class="mySlides">
          <img src="/static/Images/Navigation.png" style="width:100%">
      </div>
    </div>
    <!-- Caption container -->
    <div class="caption-container">
      <div class="caption"> Figure 3: RFD tree navigation. In this case the user selects the specialized RFDs, and the tree displays the different RHS of all the RFDs in this category.
      </div>
    </div>
    <br>

    <div class="slideshow-container">
      <!-- Slides -->
      <div class="mySlides">
          <img src="/static/Images/Navigation2.png" style="width:100%">
      </div>
    </div>
    <!-- Caption container -->
    <div class="caption-container">
      <div class="caption"> Figure 4: RFD tree navigation (2). By clicking on one of the RHS, RYAN will display the LHS of all the dependencies that have the selected RHS in the selected category.
      </div>
    </div>
    <br>
    
    <ul style="  font-size: 0.5em;   font-family: 'Lato', sans-serif;">
    <li>The second visual component is the Sunburst chart (<b>right side of Figures 2, 3, 4</b>). Similar to the rfds tree, the Sunburst
      component provides a hierarchical representation
      of rfds, considering a higher level of abstraction
      to provide users with statistics about the five categories of rfds. The innermost ring of the rfds
      Sunburst, labeled “RFDs”, is the root of the chart.
      The second ring contains the segments representing
      the categories of rfds. Finally, the third and fourth
      rings contain the segments of the RHS and respective LHS of the rfds discovered upon data changes,
      respectively.</li>
    <li>The third visual component is the Comparative Datatable (<b>Figure 5</b>). It provides a more detailed representation of
      rfds and allows users to get a precise explanation of
      the impact that data changes have had on the holding rfds. It is composed of five different columns:
      the first two represent the LHS and the RHS of
      an rfd 𝜙 valid at time 𝜏 ; the third is the motivation with which the rfd discovered at the time
      <b>𝜏 + 1</b> is related to 𝜙, while the last two contains
      the attributes on the LHS and the RHS of an rfd
      validated at time <b>𝜏 + 1</b>. When displaying a specialized dependency, the additional attributes are highlighted in green, whereas when displayng 
      a generalized dependency, the removed attributes are highlighted in red (<b>Figure 6</b>). As regards the notation, each attribute and the corresponding threshold are written as follows: <b>AttributeName_threshold</b>, were the _ indicates the &le; constraint.       </li>
  </ul>
  <div class="slideshow-container">
    <!-- Slides -->
    <div class="mySlides">
        <img src="/static/Images/Datatable.PNG" style="width:100%">
    </div>
  </div>
  <!-- Caption container -->
  <div class="caption-container">
    <div class="caption"> Figure 5: Comparative Datatable. After fully expanding a node in the RFD tree, the datatable will display the dependencies belonging to that node. If the selected dependency is a specialization or a generalization of a previous RFD discovered before data updates, the table will display the original dependency on the same row.
    </div>
  </div>
  <br>
  <div class="slideshow-container">
    <!-- Slides -->
    <div class="mySlides">
        <img src="/static/Images/Generalizations.PNG" style="width:100%">
    </div>
  </div>
  <!-- Caption container -->
  <div class="caption-container">
    <div class="caption"> Figure 6: The comparative datatable for generalized RFDs.
  </div>
  </div>
  <br>
  <p id="tutorial-instructions">In case of an RFD that is a specialization or a generalization of an RFD discovered before data updates, the user can 
    click on the EXPLAIN button displayed in the associated row of the datatable. This function allows to provide an explanation of why the RFD evolved by analyzing the data updates occurred.
    RYAN will compile a prompt containing the relevat information necessary to explain the evolution and will provide it to an LLM. Once ready, the answer will be shown to the user in a new window (<b>see Figure 7</b>).
  </p>
  <div class="slideshow-container">
    <!-- Slides -->
    <div class="mySlides">
        <img src="/static/Images/Explain.PNG" style="width:100%">
    </div>
  </div>
  <!-- Caption container -->
  <div class="caption-container">
    <div class="caption"> Figure 7: The Explain feature of RYAN.
  </div>
  </div>
  <br>
  <p id="tutorial-instructions">In addition, the datatable provides also the <b>INTERACT feature</b>. By clicking on the associated button, a new window containing the compiled prompt will be displayed. Here, the user 
    can customize the prompt, or ask for additional questions. Once the customized prompt is ready, the user can click on the <b>Ask</b> button and wait for the answer. 
  </p>
  <div class="slideshow-container">
    <!-- Slides -->
    <div class="mySlides">
        <img src="/static/Images/Interact.PNG" style="width:100%">
    </div>
  </div>
  <!-- Caption container -->
  <div class="caption-container">
    <div class="caption"> Figure 8: The Interact feature of RYAN.
  </div>
  </div>
  </p>


<!-- Content after the slideshow -->
<div style="margin-top: 20px;">
  <h3>Task Description</h3>
  <p id="tutorial-instructions">In this experiment, you will be asked to upload a dataset and a file of RFD discovery results, and then identify a particular RFD belonging to the ‘Specialized’ or ‘Generalized’ category. You will then need to expand the RFD tree by selecting the correct category, and then the RHS of interest. At this point, in the comparative datatable, search for the target dependency and click on the Explain button to get an explanation of why that dependency evolved. </p>
  <p id="objective-text"></p>
  <p id="tutorial-instructions">If you are ready, you can click on the button below to start the experiment. Otherwise, you can ask for additional details! </p>
</div>
<center><button id="start-button" role="button" style="font-size: 0.7em; background-color: #2cd200; color: white;"><span>Start!</span></button></center>

</div>


</div>
</div>


<div class="col-lg-13" style="display: none;" id="sezioneRisultati">
  <span><br></span>
  <table id="risultati" class="table table-striped table-bordered" style="width:100%">
      <thead>
      <tr>
          <th>LHS of 𝜏 </th>
          <th>RHS of 𝜏</th>
          <th>Type</th>
          <th>LHS of 𝜏 + 1</th>
          <th>RHS of 𝜏 + 1</th>
          <th>Explain</th>
          <th>Interact</th>

      </tr>
      </thead>
      <tbody id="bodyrisultati"></tbody>
      <tfoot>
      </tfoot>
  </table>
</div>



<script>
    // Seleziona l'elemento del pulsante del tutorial e l'overlay
    const tutorialButton = document.getElementById('tutorial-button');
    const tutorialOverlay = document.getElementById('tutorial-overlay');
    const closeBtn = document.getElementById('close-btn');
    const closeBtn2 = document.getElementById('start-button');
    const objectiveText = document.getElementById('objective-text');


    // Array di obiettivi
    const objectives = [
        "Task 1: Upload the dataset 'test.csv' and the discovery results 'jsonForChart_test.csv'. Navigate the RFD tree by expanding the 'Specializations node'. Then, expand the node that contains all the RFDs with RHS 'serum-creatinine'. In the datatable, locate the RFD with LHS 'age,platelets,serum-sodium'. You have to understand why this specialized RFD has been discovered instead of the original one. Thus, click on the explain button and wait for the model's answer. Once ready, read carefully the explanation. ",
        "Task 2: ['platelets_244.0']	DEATH-EVENT_0.5",
        "Task 3: altra generalizzazione"
    ];

    // Genera un numero casuale all'interno del range dell'array
    const randomIndex = Math.floor(Math.random() * objectives.length);

    // Imposta l'obiettivo casuale nel testo del tutorial
    objectiveText.textContent = objectives[randomIndex];

    // Mostra l'overlay quando il pulsante viene cliccato
    tutorialButton.addEventListener('click', () => {
        tutorialOverlay.style.display = 'block';
    });

    // Nascondi l'overlay quando il pulsante di chiusura viene cliccato
    closeBtn.addEventListener('click', () => {
        tutorialOverlay.style.display = 'none';
    });
        // Nascondi l'overlay quando il pulsante di chiusura viene cliccato
    closeBtn2.addEventListener('click', () => {
        tutorialOverlay.style.display = 'none';
    });
</script>


</body>
